
<section id="main" class="is-loading">
  <div class="container justify-content-center align-items-center d-flex">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-lg-12 col-md-8">
      <h1 class="ml8">
      <span class="letters-container">
        <span class="letters letters-left">Hi</span>
        <span class="letters bang">!</span>
      </span>
      <span class="circle circle-white"></span>
      <span class="circle circle-dark"></span>
      <span class="circle circle-container">
        <span class="circle circle-dark-dashed"></span>
      </span>
      </h1>
      </div>
      <div class="col-12 col-lg-12 col-md-8" style="top: -119px;">

        <h1 style="color:white">Nice to meet you.
          <br>
          Welcome to my page.
        </h1>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger hideme" href="#services">Who am I?</a>
    </div>
  </div>
</section>


<!-- Brief -->
<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547895327/Portfolio/lynn_formal_picture.jpg">
      </div>
      <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
        <h2 class="text-center">I'm
        <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[ "Lynn.", "26 years old.", "a Swiss/Kenyan", "a full-stack developer.", "an aspiring freelancer." ]'>
         </span>
       </h2>
        <p class="lead">Hello. I'm an aspiring <strong>Ruby on Rails</strong> developer with a passion for Front End development.
          <br>
          As more and more businesses incorporate digital technology into their operations, and the market place as a whole has shifted towards more digital commerce, I realised that <strong>an understanding of computer programming is becoming essential.</strong>
          <br>
          A level head for problem solving combined with a desire to personally learn, grow and challenge myself led me to begin my coding journey by learning on my own, and later to join Le Wagon's full-stack developer bootcamp.
        </p>

      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="ml2" id="scroll-to" style="display: none;">Sunny mornings</h2>
        <h2 class="section-heading text-uppercase">Here's what I can do</h2>
        <h3 class="section-subheading text-muted">I design & develop quality products to help small & medium level business.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Design</h4>
        <p class="text-muted">Your website is sometimes the only thing your customers see. It's your first digital impression and you want to make sure it’s a great one. I can work with you to design a website that is eye-catching, simple, clean and easy to navigate.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web Development</h4>
        <p class="text-muted"> Whether you're looking for a basic content management system using WordPress, or looking for a full Ruby on Rails database driven web application to create something more personalised....let me know, I'd be happy to work with you to develop something great.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Fully Responsive</h4>
        <p class="text-muted">It is an unmistakable fact that mobile and tablet devices are dominating the way people gravitate to websites. Having a responsive website design is a must. I make sure your product will look and function perfectly on desktop, tablet and mobile devices.</p>
      </div>
    </div>
  </div>

  <div class="fdb-block pt-5 pb-0" style="background-color: #F4F4F4;" >
    <div class="container">
      <div class="row justify-content-center">
      <p class="lead">I currently work with...</p>
      </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <div class="row justify-content-center pb-5">
              <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon icon-transparent" src="https://cdn.freebiesupply.com/logos/large/2x/html-5-logo-png-transparent.png"></div>
              <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon icon-transparent" src="https://cdn.freebiesupply.com/logos/large/2x/css-3-logo-png-transparent.png"></div>
              <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon icon-transparent" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Badge_js-strict.svg/2000px-Badge_js-strict.svg.png"></div>
              <div class="row-70 d-block d-sm-none"></div>
              <div class="col-4 col-sm-3 col-md-2 pt-2"><img alt="image" class="fdb-icon icon-transparent" src="https://cdn.freebiesupply.com/logos/large/2x/bootstrap-4-logo-png-transparent.png"></div>
              <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon icon-transparent" src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png"></div>
              <div class="col-4 col-sm-3 col-md-2 pt-2"><img alt="image" class="fdb-icon icon-transparent" src="https://vignette.wikia.nocookie.net/logopedia/images/c/c9/Ruby-language.png/revision/latest?cb=20130122221837"></div>
            </div>
          </div>
        </div>

         <div class="row justify-content-center">
      <p class="lead">And am in the process of learning...</p>
      </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <div class="row justify-content-center pb-5">
              <div class="col-4 col-sm-3 col-md-2"><img alt="image" class="fdb-icon icon-transparent" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547902736/Portfolio/react.png"></div>
              <div class="col-4 col-sm-3 col-md-2 mt-2"><img alt="image" class="fdb-icon icon-transparent" src="http://www.stickpng.com/assets/images/58481791cef1014c0b5e4994.png"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>




<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted">Check out some of my most recent work!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1544540469/LINC%20photos/Yellow.jpg", class: 'img-fluid', id: '') %>
        </a>
        <div class="portfolio-caption">
          <h4>LINC</h4>
          <p class="text-muted">Illustration</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1547835313/Portfolio/guilherme-petri-602659-unsplash.jpg", class: 'img-fluid', id: '') %>
        </a>
        <div class="portfolio-caption">
          <h4>ElmaDeal</h4>
          <p class="text-muted">Graphic Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1547835059/Portfolio/sladjana-karvounis-475851-unsplash.jpg", class: 'img-fluid', id: '') %>
        </a>
        <div class="portfolio-caption">
          <h4>Golden Shoes</h4>
          <p class="text-muted">Identity</p>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="images/portfolio/04-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Lines</h4>
          <p class="text-muted">Branding</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="images/portfolio/05-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Southwest</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="images/portfolio/06-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Window</h4>
          <p class="text-muted">Photography</p>
        </div>
      </div> -->
    </div>
  </div>
</section>


<!-- About -->
<section id="about">
  <div class="row">
    <div class="col-lg-12">
      <div class="timeline">
        <ul>
          <li id="li-1">
            <div class="timeline-body">
              <h4 class="timeline-heading">Born and raised in Kenya</h4>
              <p class="text-muted">Grew up in Mombasa where I went to a British school where I completed my <strong>IGCSEs and AS/A level</strong> certification. </p>
            </div>
          </li>
          <li id="li-2">
            <div class="timeline-body">
              <h4 class="timeline-heading">University in South Africa</h4>
              <p class="text-muted">Completed my Bachelors Degree in <strong>Business Science Organisational Psychology</strong> at the <%= link_to "University of Cape Town", "http://www.uct.ac.za/", target: "_blank" %> where I graduated with Honours. </p>
            </div>
          </li>
          <li id="li-3">
            <div class="timeline-body">
              <h4 class="timeline-heading">Taught English in Thailand</h4>
              <p class="text-muted">Got <strong>CELTA certified</strong> and taught English at <%= link_to "International House", "https://www.ihbangkok.com/", target: "_blank" %> , an international language centre in central Bangkok for 2 years. </p>
            </div>
          </li>
          <li id="li-4">
            <div class="timeline-body">
              <h4 class="timeline-heading">Full Stack Developer Bootcamp</h4>
              <p class="text-muted">Did <%= link_to "Le Wagon's", "https://www.lewagon.com/", target: "_blank" %> intensive coding bootcamp learning HTML5, CSS3, Bootstrap4, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby with Ruby on Rails. </p>
            </div>

          </li>
          <li id="li-5">
            <div class="timeline-body">
              <h4 class="timeline-heading">Aspiring Front End Developer</h4>
              <p class="text-muted"> Currently working freelance in an effort to <strong>gain experience and showcase my skills</strong>, while subsequently helping <strong>your business grow</strong> in this technology driven environment. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- Contact -->
<section id="contact" class="fdb-block bg-dark" style="background-image: url(https://images.unsplash.com/photo-1474929743204-8f756140cb14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-md-8 col-lg-7">
        <h2>Contact Me</h2>
        <h3>I'd love to hear from you!</h3>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12">
        <form>
          <div class="row">
            <div class="col-12 col-md">
              <input type="text" class="form-control" placeholder="Your name">
            </div>
            <div class="col-12 col-md mt-4 mt-md-0">
              <input type="text" class="form-control" placeholder="Your email address">
            </div>
            <div class="col-12 col-md mt-4 mt-md-0">
              <input type="text" class="form-control" placeholder="Your phone (optional)">
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <input type="email" class="form-control" placeholder="Subject">
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <textarea class="form-control" name="message" rows="3" placeholder="How can I help you?"></textarea>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col text-center">
              <button type="submit" class="btn btn-dark">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">LINC</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
            <!-- Carousel of images -->
             <div id="carousel-modal-1" class="carousel slide carousel-fade" data-ride="carousel"  data-interval = "10000">
               <ol class="carousel-indicators">
                 <li data-target="#carousel-modal-1" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel-modal-1" data-slide-to="1"></li>
                 <li data-target="#carousel-modal-1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547833357/Portfolio/Screen_Shot_2019-01-18_at_17.41.42.png" alt="First slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547833542/Portfolio/Screen_Shot_2019-01-18_at_17.45.11.png" alt="First slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547833657/Portfolio/Screen_Shot_2019-01-18_at_17.47.03.png" alt="First slide">
                 </div>

               </div> <!-- div carousel inner -->
               <a class="carousel-control-prev" href="#carousel-modal-1" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carousel-modal-1" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
             </div> <!-- div carousel slide -->

              <p class="lead">LINC is an open source application comprised of an online database where researchers can upload and manage data on lions in their own study areas and identify unknown lions using LINC’s embedded artificial intelligence (AI) recognition technology.
                <br>
                <br>
              They needed a website to provide users of their database with information about the technology and a portal to accept donations.
              </p>

              <ul class="list-inline">
                <li>Date: January 2019</li>
                <li>Client: Lion Guardians</li>
              </ul>
              <button class="btn btn-primary" type="button">
                Visit Website</button>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Elmadeal</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>

              <!-- Carousel of images -->
             <div id="carousel-modal-3" class="carousel slide carousel-fade" data-ride="carousel"  data-interval = "10000">
               <ol class="carousel-indicators">
                 <li data-target="#carousel-modal-3" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel-modal-3" data-slide-to="1"></li>
                 <li data-target="#carousel-modal-3" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834616/Portfolio/Screen_Shot_2019-01-18_at_18.03.08.png" alt="First slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834582/Portfolio/Screen_Shot_2019-01-18_at_17.59.46.png" alt="Second slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834584/Portfolio/Screen_Shot_2019-01-18_at_18.00.08.png" alt="Third slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834579/Portfolio/Screen_Shot_2019-01-18_at_18.00.52.png" alt="Fourth slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834577/Portfolio/Screen_Shot_2019-01-18_at_18.02.06.png" alt="Fifth slide">
                 </div>

               </div> <!-- div carousel inner -->
               <a class="carousel-control-prev" href="#carousel-modal-3" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carousel-modal-3" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
             </div> <!-- div carousel slide -->

              <p class="lead">ElmaDeal is a platform with the idea of making the search for beauty salons easy, and provide its users with a convenient and instant booking system.
                <br>
                <br>
              This is a prototype of ElmaDeal that I worked on as a final project with my group during our bootcamp. Final product coming soon!
              </p>

              <ul class="list-inline">
                <li>Date: October 2018</li>
                <li>Client: ElmaDeal</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Golden Shoes</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>

              <!-- Carousel of images -->
             <div id="carousel-modal-2" class="carousel slide carousel-fade" data-ride="carousel"  data-interval = "10000">
               <ol class="carousel-indicators">
                 <li data-target="#carousel-modal-2" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel-modal-2" data-slide-to="1"></li>
                 <li data-target="#carousel-modal-2" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547833843/Portfolio/Screen_Shot_2019-01-18_at_17.49.56.png" alt="First slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834017/Portfolio/Screen_Shot_2019-01-18_at_17.51.16.png" alt="Second slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834165/Portfolio/Screen_Shot_2019-01-18_at_17.55.28.png" alt="Fourth slide">
                 </div>

                 <div class="carousel-item">
                   <img class="d-block img-fluid mx-auto" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1547834024/Portfolio/Screen_Shot_2019-01-18_at_17.52.52.png" alt="Third slide">
                 </div>

               </div> <!-- div carousel inner -->
               <a class="carousel-control-prev" href="#carousel-modal-2" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carousel-modal-2" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
             </div> <!-- div carousel slide -->

              <p class="lead">Golden Shoes was a case study project with the aim of creating a responsive design to improve an outdated website.
                <br>
                <br>
              This was just a prototype of Golden Shoes that was used to provide an insight into how I would design the e-commerce website and what features I would implement.
              </p>

              <ul class="list-inline">
                <li>Date: January 2019</li>
                <li>Client: n/a</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Lines</li>
                <li>Category: Branding</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Southwest</li>
                <li>Category: Website Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Window</li>
                <li>Category: Photography</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
